<% content_for(:title) { "Solar Dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="solar_voltage" data-view="Rickshawgraph" data-renderer="line"></div>
    </li>
  </ul>
</div>

<!-- <li data-row="3" data-col="4" data-sizex="2" data-sizey="1">
    <div data-id="burnup-chart" data-view="Rickshawgraph" data-renderer="multi" data-max="40"></div>
</li> -->