<% content_for(:title) { "Solar Dashboard" } %>
<div class="gridster">
  <ul>
  	<li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="White Whale" data-text="Solar Board"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="battery_voltage" data-view="Meter" data-title="Battery V" data-height="200" data-width="200" data-min="11.8" data-max="14.7" data-suffix="V"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="solar_amp" data-view="Number" data-title="Solar Amps" data-moreinfo="Power In"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="load_amp" data-view="Number" data-title="Load Amps" data-moreinfo="Power Out"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="power_gen" data-view="Graph" data-title="Power Generated"></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="power_used" data-view="Graph" data-title="Power Used"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="bat_temp" data-view="Graph" data-title="Temperature"></div>
    </li>
    <li data-row="4" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="pv_power" data-view="Mgraph" data-title="Solar Power" style="background-color:#ff9618"></div>
    </li>
    <li data-row="5" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="bat_power" data-view="Mgraph" data-title="Battery Power" style="background-color:#ff9618"></div>
    </li>
    <li data-row="6" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="load_power" data-view="Graph" data-title="Load Power"></div>
    </li>
  </ul>
</div>

